<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <add key="domain" value="domain.com"/>
		<add key="deniedGroups" value="Group1"/>
		<add key="accessGroups" value="Group2,Group3"/>
		<add key="domainControllers" value="dc1.domain.dc2.domain"/>
		<add key="domainControllerPort" value="389"/>
		<add key="enableSSL" value="false"/>
    </appSettings>
</configuration>